@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
.btn-container{
    text-align: center;
}
.btn{
    color: rgb(255, 0, 0);
    font-family: Work Sans;
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: center;
    padding: 11px 17px 11px 17px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}
#hero{
    font-family: "Work Sans", sans-serif;
    height: 568px;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 531px;
}
#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 9px;
    opacity: 0.8;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 33px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    margin-bottom: 13px;
    text-align: center;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 17px;
    opacity: 0.7;
}

#card-box{
    width: 773px;
    margin: 100px auto;
}
#card-box .info{

}
#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}
.card-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    max-width: 215px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 215px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    padding: 8px 17px 8px 17px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}
.card h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.card p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

#about-us-container{
    display: flex;
    align-items: center;
    margin: 100px auto;
}
#about-us-container .content{
    width: 531px;
}
#about-us-container .image-box{
    max-width: 489px;
}
#about-us-container .image-box img{
    width: 100%;
}

#about-us-container .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 13px;
}
#about-us-container .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;
    opacity: 0.6;
}
#about-us-container .follow-box{
    padding: 16px 6px 16px 6px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    margin-bottom: 17px;
}
#about-us-container p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
#about-us-container .icon-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#about-us-container .icon-box img{
    width: 20px;
    cursor: pointer;
}

#social{
    height: 335px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) ,url("../assets/social-bg.png");
    margin: 100px auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#social .content{
    width: 531px;
    text-align: center;
}
#social .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 13px;
}
#social .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 25px;
}
#social .follow-box{
    padding: 16px 6px 16px 6px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    margin-bottom: 17px;
}
#social p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
#social .icon-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#social .icon-box img{
    width: 20px;
    cursor: pointer;
}
